body{
    padding-top:70px;
}

div.workingArea{
    margin:0px 40px;
}
td{
    font-size:14px;
}
th{
    font-size:14px;
}
div.listDataTableDiv{
    min-height:220px;
    position: relative;
}
div.pageDiv{
    text-align:center;
}
div.addDiv{
    width:400px;
    margin:0px auto;
}