body{
    padding-top:70px;
}

div.workingArea{
    margin:0px 40px;
}
td{
    font-size:14px;
}
th{
    font-size:14px;
}
div.listDataTableDiv{
    min-height:220px;
    position: relative;
}
div.pageDiv{
    text-align:center;
}
div.modal-content{
    width: 500px;
}
div.modal-footer-div{
    text-align: center;
}
div.modal-body-div{
    margin: 0 auto;
    width: 60%;
}
button.modal-footer-btn{
    margin-left: 200px;
}
div.operation-btn-div{
    text-align: right;
    padding-right: 200px;
}
div.modal-header{
    text-align: left;
}

div.listDataTableDiv th{
    height:55px ;
}
