body{
    font-size: 12px;
}
a{
    color:#999;
}
.redColor{
    color: #C40000 !important;
}
.color-white{
    color: white !important;
}

nav.top{
     background-color: #f2f2f2;
     padding-top: 5px;
     padding-bottom: 5px;
     border-bottom:1px solid  #e7e7e7;
 }

nav.top span, nav.top a{
    color: #999;
    margin: 0px 10px 0px 10px;
}
nav.top a:hover{
    color: #C40000;
    text-decoration: none;
}
div.searchDiv{
    background-color: #C40000;
    width: 400px;
    margin: 50px auto;
    padding: 1px;
    height: 40px;
    display: block;
}
div.searchDiv input{
    width: 275px;
    border: 1px solid transparent;
    height: 36px;
    margin: 1px;
    outline:none;
}
div.searchDiv button{
    width: 110px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
div.searchBelow{
    margin-top: 3px;
    margin-left: -20px;
}
div.searchBelow span{
    color: #999;
}
div.searchBelow a{
    padding: 0px 20px 0px 20px;
    font-size: 14px;
}
img.logo{
    position: absolute;
    left: 0px;
    top: 30px;
    z-index:-1;
}
a:hover{
    text-decoration:none;
    color:#C40000;
}
div.footer_ensure{
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}
div.footer_desc{
    padding-top: 30px;
    margin: 0px 20px;
}
div.footer_desc div.descColumn{
    width: 20%;
    float: left;
    padding-left: 15px;
}
div.footer_desc div.descColumn span.descColumnTitle{
    color: #646464;
    font-weight: bold;
    font-size: 16px;
}
div.footer_desc a{
    display: block;
    padding-top: 3px;
}
div.footer{
    margin: 0px 20px;
    padding-top: 30px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e7e7e7;
}
div.copyright{
    background-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #C40000;
}
div.copyright span.slash{
    color: white;
}
div.footer div.copyright div.white_link a{
    color: white;
    padding: 0px 5px;
}
div.footer div.copyright div.white_link{
    padding: 10px 0px;
    margin-left: 10px;
}
div.license{
    margin-left: 10px;
    padding-bottom: 30px;
}
div.license span{
    color: #A4A4A4;
}
div.license div.copyRightYear{
    margin: 10px 0px;
    color: #686868;
}
img.cateye{
    margin-left: 20px;
}

/**
    SimpleSearch.jsp
 */
div.simpleSearchDiv{
    background-color: #C40000;
    width: 300px;
    margin: 10px 100px 40px;
    padding: 1px;
    height: 40px;
    display: block;
}
div.simpleSearchDiv input{
    width: 225px;
    border: 1px solid transparent;
    height: 34px;
    margin: 2px;
    outline:none;
}
div.simpleSearchDiv button{
    width: 60px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 14px;
    /*  font-weight:bold */;
}
div.searchBelow{
    margin-top: 3px;
    margin-left: -20px;
}
div.searchBelow span{
    color: #999;
}
div.searchBelow a{
    padding: 0px 20px 0px 20px;
    font-size: 14px;
}

div.simpleSearchOutDiv{
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}

img.simpleLogo{
    position: absolute;
    left: 10px;
    top: 50px;
    width: 140px;
}

/**
    HomePage.jsp
 */
div.CategoryAndCarousel{
       width: 100%;
       position:relative;
}
div.CategoryAndCarousel div.category{
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #DD2727;
}
div.CategoryAndCarousel div.category div.head{
    margin-left: 165px;
    width: 200px;
    background-color: #C60A0A;
}
div.CategoryAndCarousel div.category div{
    display: inline-block;
}
div.CategoryAndCarousel div.rightMenu img {
    height: 30px;
}
div.CategoryAndCarousel div.rightMenu span {
    margin: 0px 20px 0px 20px;

}
img.catHead {
    position: absolute;
    height: 15px;
    display: none;
}
div.categoryMenu{
    width: 200px;
    background-color: #e2e2e3;
    margin-left: 165px;
}
div.categoryMenu a{
    color: #000;
}
div.categoryMenu a:hover{
    color: lightskyblue;
    text-decoration: none;
}
div.one-category{
    display: block;
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
}
div.one-category span{
    margin-right: 10px;
}
div.one-category:hover{
    background-color: white;
    color: #DD2727
}
div.one-category a:hover{
    color: #DD2727;
}
div.product-subTitle{
    width: 825px;
    height: 510px;
    background-color: white;
    margin-left: 365px;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: 1;
}
div.product-subTitle div.row{
    margin: 20px 80px 0px 80px;
}
div.product-subTitle div.seperator{
    margin-top: 40px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}
div.product-subTitle a{
    color: #999;
    font-size: 14px;
    margin: 8px;
}
div.product-subTitle a:hover{
    color: #C40000;
    text-decoration: none;
}
div.carouselBackgroundDiv{
    width:100%;
    height:510px;
    background-color: #E8E8E8;
    position: absolute;
    top:36px;
    z-index:-1;
}
div.carousel-of-product {
    width: 1024px;
    height: 510px;
    margin:0px auto;
    position: absolute;
    top: 36px;
    left:365px;
    z-index: -1;
}
a.productItemDescLink span:hover{
    text-decoration: underline;
    color: #c40000;
}
/**
    首页的热销商品展示
 */
div.homepage-category-products{
    background-color: #F5F5F5;
    padding: 50px 10px 50px 10px;
    margin: 10px auto;
    max-width: 1024px;
}
/**
    单独一个category的展示，其中有不止一个的product
 */
div.one-category-product {
    margin: 0px 0px 40px 0px;
}
img.end-png {
	display: block;
	width: 82px;
	margin: 0 auto;
}
/**
    category name前面的绿色竖线
 */
div.left-mark {
	display: inline-block;
	height: 20px;
	vertical-align: top;
	width: 5px;
	background-color: #19C8A9;
}
/**
    展示的商品类别名称
 */
span.category-title {
	font-size: 16px;
	margin-left: 30px;
	color: #646464;
	font-weight: bold;
}
/**
    展示中的单个商品信息 以及其中的相关部件
 */
div.one-product {
	width: 189px;
	height: 285px;
	border: 1px solid white;
	background-color: white;
	margin: 8px 4px;
	float: left;
	cursor: pointer;
}

div.one-product a.productItemDescLink {
	display: inline-block;
	height: 66px;
}

div.one-product:hover {
	border: 1px solid #C40000;
}

div.one-product span.productItemDesc {
	font-size: 12px;
	color: #666666;
	display: block;
	padding: 16px;
}

div.one-product span.product-price {
	font-size: 16px;
	color: #FF003A;
	display: block;
	padding-left: 16px;
	margin-top: -10px;
}
div.one-product img {
	width: 187px;
	height: 190px;
}

div.one-product  img:hover {
	opacity: 0.7;
	filter: alpha(opacity = 70);
}

/**
    LoginPage.jsp
 */
div#login-div{
    position: relative;
}
img#loginBackgroundImg{
    display: block;
    margin: 0px auto;
    width: 100%;
}
div.simpleLogo{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
}
div#login-div-inside{
    width: 400px;
    height: 500px;
    position: absolute;
    right: 60px;
    top: 120px;
    background-color: white ;
    z-index: 1;
}
span#login-title{
    margin-top: 35px;
    display:inline-block;
    margin-left:30px;
    font-size:16px;
    font-weight:bold;
}
/*div.login-input-div label{*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*text-align: center;*/
    /*background-color: #ddd;*/
    /*margin-left: 30px;*/
    /*margin-top: 25px;*/
    /*margin-bottom: 0;*/
/*}*/
div.login-input-div div.input-group label span{
    font-size: 20px;
}
div.login-input-div div.input-group input.login-input{
    height: 47px;
}
div.login-input-div {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}
button.login-btn{
    background-color: #ff0036;
    width: 100%;
    height: 47px;
    margin-top: 30px;
    color: white;
    font-weight: 500;
    font-size: 19px;
}
div.login-link{
    text-align: right;
    margin-top: 40px;
    margin-right: 20px;
}
div.login-link a{
    margin-right: 5px;
    margin-left: 5px;
}

/**
    RegisterPage.jsp
*/
li.bottom-line{
    width: 25%;
    display: inline-block;
    line-height: 47px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #999 ;
}
div.register-progress ol.register-ol{
    width: 80%;
    margin: 0 20%;
    padding-left:0;
}
div.register-progress{
    border-bottom: 3px solid #e6e6e6;
    width: 60%;
    height: 50px;
    position: relative;
    margin: 0 auto;
}
div.register-progress ol .active{
    border-bottom: 3px solid #ff4000;
    color: black;
}
form.register-form{
    width: 100%;
}
.gray-btn{
    margin-left: 150px !important;
    margin-top: 20px !important;
    width: 200px;
    color: #FFF !important;;
    border: 1px solid transparent;
    background-color: #dedede;
}
div.register-div{
    width: 500px;
    margin: 20px auto;
    /*margin-left: 450px !important;*/
    /*margin-bottom: 300px !important;*/
    height: 600px;
}
div.register-back{
    margin-left: 20px;
    text-align: center;
    padding-right: 280px;
}



/**
    ProductPage.jsp
*/
div.category-picture-div{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
div.product-main-div{
    width: 1024px;
    margin: 10px auto;
}
div.imgAndInfo {
    margin: 40px 20px;
}
div.imgAndInfo div.Img{
    width: 400px;
    float: left;
}
div.product-small-img{
    width: 80%;
    margin: 20px auto;
}
div.product-small-img img{
    width: 60px;
    height: 60px;
    border: 2px solid white;
}
div.product-small-img img:hover{
    border: 2px solid black;
}
/*
  尝试使用仅仅子元素选择器
 */
div.Img > img{
    width: 400px;
    height: 400px;
    padding: 20px;
    border: 1px solid #f2f2f2;
}
div.imgAndInfo div.info{
    padding: 0px 20px;
    overflow: hidden;
}
div.info div.product-name{
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
}
div.info div.product-subTitle-info{
    color: #DD2727;
    font-size: 12px;
    margin: 0px 10px;
}
div.product-price-div div.juhuasuan{
    background-color: #2DA77A;
    color: white;
    text-align: center;
    margin-top: 10px;
}
div.juhuasuan span.juhuasuan-title{
    font-size: 18px;
    font-weight: bold;
}
div.juhuasuan span.juhuasuan-time{
    color: #FFC057;
    font-weight: bold;
}
div.product-price div.gouwujuan-div{
    margin-top: 5px;
}
div.gouwujuan-div span{
    color: silver;
}
div.product-price div.origin-price-div{
    margin-top: 5px;
}
div.product-price-div div.product-price{
    background-image: url(../../img/site/priceBackground.png);
    height: 102px;
    padding: 10px;
    color: #666666;
}
div.origin-price-div span.original-price{
    text-decoration: line-through;
    margin-left: 8px;
}

div.promotion-price-div span.promotion-price{
    font-size: 30px;
    font-weight: bold;
    color: #c40000;
    margin-left: 10px;
}
div.info div.product-count-div{
    margin: 20px 0px;
    border-top: 1px dotted #C9C9C9;
    border-bottom: 1px dotted #C9C9C9;
    padding: 10px;
}
div.product-count-div div{
    display: inline-block;
    width: 49%;
    text-align: center;
    color: #999999;
}
div.info div.product-number{
    color: silver;
    height: 40px;
}
div.product-number span.buy-number-span{
    width: 50px;
    display: inline-block;
    height: 35px;
    padding:7px 0;
    border: 1px solid #999999;
}
span.buy-number-span input.buy-number-input{
    width: 30px;
    border: 0px;
}
div.product-number span.arrow{
    display: inline-block;
    height: 35px;
    width: 20px;
    vertical-align: top;
}
span.arrow span.updown {
    display: block;
    width: 20px;
    height: 15px;
    text-align: center;
    border: 1px solid silver;
}
span.updown img{
    display: inline-block;
    vertical-align: middle;
}
span.arrow span.updown-middle{
    height: 5px;
    display: block;
}
div.info div.service-commitment-div{
    margin-top: 25px;
}
div.service-commitment-div span.service-commitment-link a{
    margin-left: 5px;
}
div.buy-div{
    margin-top: 30px;
    text-align: center;
}
div.buy-div button{
    width: 180px;
    height: 40px;
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #c40000;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}
div.buy-div button:hover{
    filter: brightness(1.1);
}
div.buy-div button.buy-button {
    background-color: #FFEDED;
    color: #c40000;
}
div.buy-div button.add-cart-button{
    background-color: #c40000 !important;
    color: white;
}
div.product-detailAndReview-div{
    display: block;
    width: 790px;
    margin: 40px auto;
}
div.product-detailAndReview-div div.product-title-div{
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    border: 1px solid silver;
}
div.product-title-div a{
    padding: 0 20px;
    border-right: 1px dotted #D2D2D2;
    color: #333333;
}
div.product-title-div a.selected{
    color: #B10000;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    position: relative;
    border-top: 3px solid #B10000;
    margin-top: -1px;
    border-right: 1px solid #cfbfb1;
    border-left: 1px solid #cfbfb1;
}
div.product-title-div a.selected::after{
    border-color: #b00000 transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -1px;
    left: 50%;
    margin-left: -5px;
}
/*div.product-title-div a.selected::before{*/
    /*border-color: #b00000;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*content: "";*/
    /*display: block;*/
    /*height: 0px;*/
    /*position: absolute;*/
    /*top: -1px;*/
    /*margin-left: -1px;*/
/*}*/
div.product-detail-div div.product-parameter-div{
    border: 1px solid silver;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
div.product-parameter-div span.product-parameter-title{
    color: #999999;
    font-weight: bold;
}
div.product-parameter-div div.product-parameter-list{
    margin-top: 20px;
}
div.product-parameter-list span{
    display: block;
    width: 220px;
    float: left;
    padding: 9px 0;
    color: #888888;
}
div.product-detailImg-list img{
    width: 790px;
}
div.product-detailAndReview-div div.product-review-div{
    border: 1px solid silver;
    min-height: 100px;
    padding-top: 20px;
    padding-left: 50px;
}
div.product-review-div span.no-review-prompt{
    font-size: 13px;
    font-weight: bold;
}


/**
    loginModal页面
 */
div#login-modal div#login-modal-top-div{
    width:350px;
}
div#login-modal div.alert{
    margin: 0 auto;
    padding-left: 45px;
    text-align: left;
    width: 258px;
}

/**
    ProductByCategory.jsp页面
 */
div.category-page-div{
    max-width: 1024px;
    margin: 10px auto;
}
div.category-sort-div {
    background-color: transparent;
    margin: 40px 20px 20px 20px;
    padding: 4px;
}
div.category-sort-div table.category-sort-table{
    margin: 0 auto;
    border-collapse: collapse;
    display: inline-block;
    height: 26px;
}
table.category-sort-table tr td{
    border: 1px solid #CCCCCC;
    padding: 3px;
    height: 26px;
}
.grayColumn{
    background-color: #F1EDEC;
}
table.category-sort-table input{
    width: 50px;
    height: 100%;
    font-size: 12px;
    border-width: 0px;
}
div.product-template-div{
    display: inline-block;
    float: left;
    width: 225px;
    height: 338px;
    border: 2px solid #EEEEEE;
    padding: 0;
    margin: 12px 5px;
    position: relative;
}
div.product-template-div > img{
    width: 100%;
    height: 200px;
}
div.product-template-div span.product-price{
    font-size: 17px;
    font-weight: bold;
    color: #c40000;
    display: block;
    height: 50px;
    line-height: 50px;
}
div.product-template-div div.product-info{
    width: 100%;
    position: absolute;
    bottom: 0;
    height:25px;
    line-height: 25px;
    border: 1px solid #EEEEEE;
    color: #999999;
}
div.product-info span.wangwang a.wangwanglink{
    width: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    border-left: 1px solid #EEEEEE;
}
div.product-template-div a.product-link{
    color:black;
    display: block;
}
div.product-template-div a.tmall-link{
    text-decoration: underline;
    position: absolute;
    bottom: 32px;
}
div.product-info span.month-sale-count{
    width: 80px;
    height: 25px;
    border-right: 1px solid #EEEEEE;
    text-align: left;
    display: inline-block;
}
div.product-info span.product-review{
    width: 100px;
    height: 25px;
    text-align: left;
    display: inline-block;
}
span.month-sale-count span.productDealNumber{
    color: #B57C5B;
    font-weight: bold;
}
span.product-review span.productReviewNumber{
    color: #3388BB;

}
div.product-template-div:hover{
    border: 2px solid #CC0000;
}

/*
    SearchResultPage.jsp页面
 */
div.search-result-div{
    max-width: 1024px;
    margin: 10px auto;
    min-height: 600px;
}
div.search-result-div div.empty-result-div{
    margin: 0 auto;
    width: 1024px;
   text-align: center;
}
div.empty-result-div span{
    color: #999999;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    display: inline-block;
    padding-top: 60px;
}

/*
    SettlementPage.jsp页面
 */
div.settlement-div{
    width: 100%;
    margin: 20px auto;
    min-height: 500px;
}
div.address div.address-tip,div.product-info-tip{
    font-size: 16px;
    font-weight: bold;
}
div.address table.address-table{
    margin-top: 30px;
    margin-left: 30px;
}
table.address-table tr{
    margin-top: 10px;
    display: block;
}
table.address-table td{
    vertical-align: top;
}
table.address-table tr td:first-child{
    width: 100px;
}
table.address-table td textarea{
    width: 600px;
    height: 50px;
    border: 1px solid #AFAFAF;
}
table.address-table td input{
    width: 600px;
    border: 1px solid #AFAFAF;
}
div.settlement-div form div.product-info {
    margin-top: 50px;
    margin-bottom: 50px;
}
div.product-info table.product-info-table{
    width: 100%;
    margin-top: 50px;
    border-bottom: 3px solid #b2d1ff;
}
table.product-info-table thead tr:first-child{
    padding: 10px;
}
table.product-info-table img.tmall-buy{
    width: 15px;
    height: 15px;
}
table.product-info-table a.market-link{
    color: #333333;
}
table.product-info-table a.wangwanglink{
    text-align: left;
}
span.wangwangGif{
    display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url(../../img/site/wangwang.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	background-attachment: scroll;
	background-position: -83px -0px;
    position: relative;
    top: 8px;
    left: 2px;
}
table.product-info-table thead tr:first-child td{
    padding: 10px 0;
}
table.product-info-table tr.row-border td{
    /*background-color: #b2d1ff;*/
    /*border-right: 2px solid #fff;*/
    /*height: 3px;*/
}
table.product-info-table tbody.product-table-tbody tr:first-child td{
    border-top: 3px solid #b2d1ff;
}
tbody.product-table-tbody img.orderItem-img {
    width: 50px;
    height: 50px;
    border: 1px solid #E9E9E9;
}
tbody.product-table-tbody tr.orderItem-tr td{
    padding: 10px 0;
}
div.product-info div.orderItem-sum-div{
    background-color: #F2F6FF;
    padding: 10px;
    height: 50px;
    color: #999999;
}
div.orderItem-sum-div div.pull-left span:first-child{
    padding: 5px;
    float: left;
    margin-left: 30px;
    vertical-align: bottom;
}
div.settlement-div div.submit-order-div{
    text-align: right;
    color: #999999;
    margin-right: 50px;
}
div.submit-order-div span.orderItem-total-sum-span{
    color: #c40000 !important;
    font-size: 22px;
    font-weight: bold;
    margin-right: 80px;
}
div.submit-order-div button.submit-order-button{
    height: 50px;
    width: 180px;
    background-color: #c40000 !important;
    color: #F2F6FF !important;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 65px;
}
div.orderItem-sum-div textarea{
    background-color: white;
    border: 1px solid #FFAD35;
}

/**
    CartPage页面
 */
div.cart-div{
    width: 100%;
    min-height: 600px;
}
div.cart-div div.cart-products-div{
}
div.cart-products-div table.cart-products-table{
    margin: 0 auto;
    width: 1200px;
}
table.cart-products-table thead{
    height: 50px;
}
table.cart-products-table tbody tr{
    border: 1px solid #CCCCCC;
}
table.cart-products-table th,
table.cart-products-table td{
    padding :20px 20px;
    padding-right: 0px !important;
}
img.cart-product-img{
    padding: 1px;
    border: 1px solid #EEEEEE;
    width: 80px;
    height: 80px;
}
div.cart-product-number-change-div input.cart-orderItem-num{
    width: 20px;
}
tr.cart-product-tr span.cart-product-original-price{
    text-decoration: line-through;
    color: #9C9C9C;
    display: block;
    font-weight: bold;
    font-size: 14px;
}
tr.cart-product-tr span.cart-product-promote-price,span.cart-product-sumPrice{
    font-size: 14px;
    font-weight: bold;
    color: #C40000;
}
div.cart-div div.cart-foot{
    height: 50px;
    line-height: 50px;
    width: 1200px;
    margin: 50px auto;
    background-color: #E5E5E5;
}
div.cart-foot span.cartSumNumber,span.cartSumPrice{
    color: #c40000;
    font-size: 16px;
    font-weight: bold;
}
div.cart-foot button.createOrderButton{
    margin-left: 30px;
    height: 50px;
    line-height: 40px !important;
    width: 100px;
    border: 0 solid #AAAAAA;
    background-color: #AAAAAA;
    color: white;
    font-size: 17px;
}

/**
    alipayPage
 */
div.alipay-div{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    min-height: 500px;
}
div.alipay-div div.alipay-Logo{
    margin-bottom: 50px;
}
div.confirm-money-div span.confirm-money-num{
    font-size: 18px;
    color: #FF6600;
    font-weight: bold;
    margin: 20px;
}

div.alipay-div button.confirmPay{
    background-color: #00AAEE;
    border: #00AAEE;
    text-align: center;
    line-height: 31px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    width: 107px;
    margin-top: 20px;
}

/**
    PayedPage.jsp
 */
div.payed-div{
    border: 1px solid #d4d4d4;
    max-width: 1013px;
    margin: 10px auto 20px auto;
}

div.payed-div div.payed-tip{
    height: 60px;
    background-color: #ECFFDC;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}

div.payed-div div.payed-addressInfo{
    padding: 30px;
}
div.payed-addressInfo li{
    padding-top: 15px;
}
div.payed-div div.check-link-div {
    padding-top: 10px;
    padding-left: 25px;
}
div.check-link-div a{
    color: #2D8CBA;
}
div.payed-interval-line{
    margin: 0 30px;
    border-top: 1px dotted #d4d4d4;
}
div.payed-div div.payed-warning-div{
    margin-top: 25px;
    margin-bottom: 25px ;
    padding-left: 40px;
}
/**
    BoughtPage.jsp
 */
div.bought-div{
    width: 1024px;
    margin: 50px auto;
}
div.bought-div div.bought-orderType{
    width: 100%;
    margin: 0 auto;
}
div.bought-orderType div{
    float: left;
    border-bottom: 2px solid #E8E8E8;
    margin-bottom: 10px;
}
div.bought-orderType a{
    height: 25px;
    border-right: 1px solid #E8E8E8;
    float: left;
    padding: 0 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
div.orderTypeLastOne{
    overflow: hidden;
    float: none !important;
}
div.bought-orderType div.select-orderType{
    border-bottom:2px solid #c40000;
}
div.bought-orderType div.select-orderType a{
    color: #C40000;
}
div.bought-orderType a.select-orderType:hover{
    text-decoration: none;
}
div.bought-orderType a.noRight-a{
    border-right-width: 0 !important;
}
div.orderList-title{
    /*border: 1px solid black;*/
    margin-top: 20px;
    /*padding: 10px;*/
    height: 60px;
    text-align: center;
}
div.orderList-title table.orderList-title-table{
    border: 1px solid #E8E8E8;
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
}
div.orderList-title td{
    padding: 15px 0;
}
div.orderItemWangWangGif {
    display: inline-block;
    width: 67px;
    height: 22px;
    background-image: url(http://how2j.cn/tmall/img/site/wangwang.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: -0px -0px;
    position: relative;
    top: 0;
    left: 2px;
}
div.bought-div div.orderList-item{
}
div.orderList-item table.orderList-item-table{
    font-size: 12px;
    border: 2px solid #ECECEC;
    width: 100%;
    margin: 20px 0px;
}
table.orderList-item-table td{
    padding: 8px 10px;
}
table.orderList-item-table td.orderItem-delete-td{
    text-align: right;
}
td.orderItemProductInfo-td div.orderListItemProductLinkOutDiv{
    padding-top: 6px;
    height: 80px;
    position: relative;
}
td.orderItemProductInfo-td div.orderListItemProductLinkInnerDiv{
    position: absolute;
    bottom: 0px;
}
/*table.orderList-item-table td.orderItemProductInfo-td{*/
    /*border-bottom: solid 1px #ECECEC;*/
/*}*/
table.orderList-item-table tr.orderList-item-tr{
    background-color: #F1F1F1;
}
td.orderItemProductInfo-td div.orderListItemProductOriginalPrice{
    font-size: 14px;
    color: #999999;
}
td.orderItemProductInfo-td div.orderListItemProductPrice{
    font-size: 14px;
    color: #3C3C3C;
}
td.orderListItemNumber-td {
    text-align: center;
}
span.orderListItemNumber{
    display: inline-block;
    margin-top: 30px;
}
div.orderListItemProductRealPrice{
    margin-top: 25px;
    font-size: 14px;
    color: #3C3C3C;
    font-weight: bold;
}
div.orderListItemPriceWithTransport{
    font-size: 12px;
    color: #6C6C6C;
}
td.orderListItemButton-td{
    text-align: center;
}
td.orderListItemButton-td a{
    display: inline-block;
    margin-top: 16px;
}
td.orderListItemButton-td span{
    display: inline-block;
    margin-top: 16px;
}

/**
    ConfirmReceiveGoodsPage
 */
div.ConfirmReceiveGoodsPage{
    width: 1024px;
    margin: 10px auto;
}
div.ConfirmReceiveGoodsPage div.confirmReceiveImageDiv{
    width: 895px;
    position: relative;
    margin: 50px auto;
}
div.confirmReceiveImageDiv img{
    margin-bottom: 30px;
}
div.confirmReceiveImageDiv div.confirmPayTime1{
    margin-left: -20px !important;
}
div.confirmReceiveImageDiv div{
    float: left;
    margin-left: 20px;
    margin-right: 60px;
    color: #999999;
}
div.ConfirmReceiveGoodsPage div.orderInfo-div{
    border-top: 1px solid #ADC8E6;
}
div.orderInfo-div div.orderInfo-text {
    font-size: 14px;
    font-weight: bold;
    margin: 20px;
}
div.orderInfo-div table.order-OrderItem-table{
    border: 1px solid #DDDDDD;
    width: 100%;
}
table.order-OrderItem-table thead{
    background-color: #E8F2FF;
    height: 35px;
}
table.order-OrderItem-table thead th{
    font-size: 15px;
    color: #333333;
    text-align: center;
}
table.order-OrderItem-table td{
    padding: 20px;
    text-align: center;
}
table.order-OrderItem-table span.orderItem-price{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
div.orderInfo-text span.orderItem-total{
    font-size: 15px ;
    color: #E40000;
}
div.ConfirmReceiveGoodsPage div.orderOtherInfo-div{
    margin: 45px;
}
div.orderOtherInfo-div table.orderOtherInfo-table{
    border-top: 1px solid #ADC8E6;
    width: 100%;
    font-size: 14px;
}
span.wangwangGif1{
    display: inline-block;
    width: 67px;
    height: 22px;
    background-image: url(http://how2j.cn/tmall/img/site/wangwang.gif);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: -0px -0px;
    position: relative;
    top: 0px;
    left: 2px;
}
table.orderOtherInfo-table td{
    padding: 10px;
}
div.ConfirmReceiveGoodsPage div.confirmReceive-last-div{
    border: 1px solid #F58B0F;
    padding: 20px 50px;
}
div.confirmReceive-last-div div.confirmWarning{
    font-size: 18px;
    color: red;
    font-weight: bold;
    margin-bottom: 30px;
}
div.confirmReceive-last-div button.confirmReceive-button{
    background-color: #F58B0F;
    color: white;
}

/**
    ReceiveSuccessPage
 */
div.orderFinish-div{
    width: 1024px;
    padding: 60px 80px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #E5E5E5;
    margin: 0 auto;
}


