div.main_div{
	max-width: 1013px;
	margin: 10px auto;
}
div.CategorySortBar{
	background-color: #FAF9F9;
	margin: 40px 20px 20px 20px;
	padding: 4px;
}
table.CategorySortTable{
	border-collapse: collapse;
	display: inline-block;
}
table.CategorySortTable span.glyphicon{
	font-size: 10px;
}
table.CategorySortTable td{
	height: 17px;
	font-size: 12px;
	border: 1px solid #CCCCCC;
	padding: 3px;
}
table.CategorySortTable td.grayColumn{
	background-color: #F1EDEC;
}
table.CategorySortTable td a{
	color: #806F66;
}
table.CategorySortTable input{
	border-width: 0px;
	width: 50px;
	height: 15px;
}
table.CategorySortTable td.priceMid{
	width: 5px;
	vertical-align: middle;
	color: #CCCCCC;
}
table.CategorySortTable td:hover{
	background-color: #F1EDEC;
}


div.one_good{
	width: 225px;
	height: 340px;
	background-color: white;
	margin: 12px 5px;
	float: left;	
	position: relative;
}
div.one_good:hover{
	border: 3px solid #C40000;
}
div.trade_info{
	position: absolute;
	bottom: 5px;
	width: 100%;
	height: 25px;
	border-top: 1px solid #CCCCCC;
}
div.trade_info span.evaluate,div.trade_info span.month_sell{
	display: inline-block;
    width: 90px;
    height:29px;
	margin: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
}
div.trade_info span.evaluate{
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}
div.one_good span.price{
	color: #CC0000;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 0px;
}
div.one_good a.good_link{
	color:black;
	display: block;
	margin-bottom: 10px;
}
div.good_link a.good_link:hover{
	color: #CC0000;
	text-decoration: underline;
}
div.one_good a.tmall_zhuanmai{
	margin: 10px 0px;
	color:#999999;
	display: block;
	text-decoration: underline;
}



