div.category_carousel{
	width: 100%;
	background-color: #E7E7E7;
}
img.catear {
	position: absolute;
    height: 15px;
    display: none;
}
.rela{
	position: relative;       //相对布局
}
div.category_carousel div.headbar{
	background-color: #DD2727;	//设置标题栏的颜色
}
div.headbar div.head span{
	margin-left: 10px;
}
div.category_carousel div.head{
	width: 200px;
	height: 36px;
	background-color: #C60A0A;
	line-height: 36px;
	font-weight: bold;
	font-size: 16px;
	color: white;
	margin-left: 20px;
	display: inline-block;
}
div.category_carousel div#commodity_menu{
	display: inline-block;
}

div.category_carousel div#commodity_menu a{
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 0px 20px 0px 20px;
}
div.category_carousel div#commodity_menu img{
	height: 30px;
}
div.carousel-product{
	height: 510px;
	width: 100%;
	margin: 0px auto;
}
img.carouselImage{
	height: 510px !important;
}
div.carousel-background{
	width: 100%;
	height: 510px;
	background-color: orchid;
	position: absolute;
	top: 36px;
	z-index: -1;
}

div.product_img_carousel{
	width: 200px;
	position: absolute;
	right:90px;
	top: 36px;
	z-index: 1;
}
div.product_img_carousel img{
	background-color:white; 
	opacity: 0.7;
}

div.product_img_carousel img:hover{
	opacity: 1;
	filter: alpha(opacity = 100);
}




div.category_menu{
	width: 200px;
	background-color: #E2E2E2;
	margin-left: 20px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}
div.category_menu a{
	color: #000000;
}
div.category_menu a:hover{
	color: lightblue;
	text-decoration: none;
}
div.producs_category{
	width: 100%;
	height: 510px;
	background-color: white;
	margin-left: 220px;
	position: absolute;
	left: 0;
	top: 36px;
	z-index: 1;
}
div.producs_category div.oneRow{
	margin: 20px 80px 0px 80px;
}
div.producs_category div.oneRow div.seperator{
	margin-top: 20px;
	border-bottom: 1px dashed #E7E7E7;
}
div.producs_category a{
	color: #999999;
	font-size: 14px;
	margin: 8px;
}
div.producs_category a:hover{
	color: #C40000;
	text-decoration: none;
}
div.oneCategory{
	line-height: 30px;
	padding-left: 10px;
	font-size: 14px;
}
div.oneCategory span{
	margin-right: 10px;
}
div.oneCategory:hover{
	background-color: white;
}
.blue{
	color: blue;
}




div.product_list{
	max-width: 1013px;
	background-color: #F5F5F5;
	padding: 50px 10px;
	margin: 10px auto;
}
div.product_item{
	width: 189px;
	height: 285px;
	border: 1px solid white;
	background-color: white;
	margin: 8px 4px;
	float: left;
	cursor: pointer;
}
div.product_item a.product_info{
	font-size: 12px;
	color: #666666;
	display: block;
	padding: 16px;
}
div.product_item span.product_price{
	font-size: 16px;
	color: #FF003A;
	display: block;
	padding-left: 16px;
	margin-top: -10px;
	font-weight: bold;
}
div.product_item img{
	width: 184px;
	height: 190px;
	border: 2px solid white;
}
div.product_item img:hover{
	opacity: 0.7;
	filter: alpha(opacity = 70);
}
div.one_product{
	margin: 0px 0px 40px 0px;
}
img.endpng{
	display: block;
	width: 82px;
	margin: 0 auto;
}
div.left-mark{
	display: inline-block;
	height: 20px;
	vertical-align: top;
	width: 5px;
	background-color: #19C8A9;
}
span.product_title{
	font-size: 16px;
	margin-left: 30px;
	color: #646464;
	font-weight: bold;
}

div.product_list div.product_item:hover{
	border: 2px solid #C40000;
}
