body{
	font-size: 12px;
	font-family: arial;
}
a{
	color: #999;	
}
a:hover{
	text-decoration: none;
	color: #C40000;
}
.redColor{
	color: #C40000 !important;   //设置颜色并提高优先级
}


nav.top{
	background-color: #f2f2f2;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e7e7e7;
}
nav.top span,nav.top a{
	color: #999;
	margin: 0px 10px 0px 10px;
}


/*
   搜索栏部分样式
 * */
div.searchplate{
	background-color: #C40000;
	width: 400px;
	margin: 50px auto;
	padding: 1px;
	height: 40px;
	display: block;
}

div.searchplate input{
	width: 275px;
	height: 36px;
	margin: 1px;
	border: 1px solid transparent;
	outline: none;
}

div.searchplate button.searchButton{
	width: 110px;
	border:  1px solid transparent;
	background-color: #C40000;
	color:  white;
	font-size: 18px;
	font-weight: bold;
}
div.searchplate_below a{
	padding: 0px 20px 0px 20px;
	font-size: 14px;
}
div.searchplate_below{
	margin-top: 3px;
	margin-left: -20px;
}
img.logo{
	position: absolute;
	left:0px;
	top:30px;
	z-index: -1;
}

/**
 * 简单搜索栏部分样式
 */

img.simplelogo{
	position: absolute;
	left: 10px;
	top: 50px;
	width: 140px;
}

div.simplesearch{
	background-color: #C40000;
	width: 300px;
	height: 40px;
	margin: 10px 20px 40px;
	padding: 1px;
	display: block;
}
div.simplesearch_below span{
	color: #999;
	text-align: center;
}
div.simplesearch_below a{
	/*padding: 0px 18px 0px 18px;*/
	width: 20%;
	display: inline-block;
	font-size: 14px;
}
div.simplesearch button{
	width: 60px;
	border: 1px solid transparent;
	background-color: #C40000;
	color: white;
	font-size: 14px;				
}
div.simplesearch input{
	width: 225px;
	height: 34px;
	border: 1px solid transparent;
	margin: 2px;
	outline: none;
}





/**
 * the_bottom
 */
div.footer{
	margin: 0px 0px;
	border-top: 1px solid #E7E7E7;
}
div.footer_data{
	background-color: black;
	border: 2px solid #C40000;
}
div.white_link span{
	color: white;
}
div.footer_2 div.footer_data div.white_link a{
	color: white;
	padding: 0px 5px;
	text-decoration: none;
}
div.footer_2 div.footer_data div.white_link{
 	padding: 10px 0px;
    margin-left: 10px;
}
div.license span{
    color: #A4A4A4;
}
div.license div.copyRightYear{
    margin: 10px 0px;
    color: #686868;
}

div.footer_desc{
	border-top: 1px solid #E7E7E7;
	margin: 0px 20px;
	padding-top: 30px;
}

div.footer_desc div.footer_data_list{
	width: 18%;
	float: left;
	padding-left: 15px;
}
div.footer_desc div.footer_data_list span{
	color: #646464;
	font-weight: bold;
	font-size: 16px;
}
div.footer_desc div.footer_data_list a{
	display: block;
	padding-top: 3px ;
	text-decoration: none;
}
div.footer_ensure{
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}
div.footer div.footer_1{
}
  