<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chen.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="chen.entity.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="subTitle" jdbcType="VARCHAR" property="subTitle" />
    <result column="originalPrice" jdbcType="REAL" property="originalPrice" />
    <result column="promotePrice" jdbcType="REAL" property="promotePrice" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="chen.entity.Product" useGeneratedKeys="true">
    insert into product (cid, name, subTitle, 
      originalPrice, promotePrice, stock, 
      createDate)
    values (#{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{subTitle,jdbcType=VARCHAR}, 
      #{originalPrice,jdbcType=REAL}, #{promotePrice,jdbcType=REAL}, #{stock,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="chen.entity.Product">
    update product
    set cid = #{cid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      subTitle = #{subTitle,jdbcType=VARCHAR},
      originalPrice = #{originalPrice,jdbcType=REAL},
      promotePrice = #{promotePrice,jdbcType=REAL},
      stock = #{stock,jdbcType=INTEGER},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, cid, name, subTitle, originalPrice, promotePrice, stock, createDate
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select id, cid, name, subTitle, originalPrice, promotePrice, stock, createDate
    from product
    WHERE cid = #{cid,jdbcType=INTEGER}
  </select>
</mapper>